pkgbase = mutter
	pkgdesc = A window manager for GNOME
	pkgver = 43.0
	pkgrel = 1.1
	url = https://gitlab.gnome.org/GNOME/mutter
	arch = x86_64
	license = GPL
	checkdepends = xorg-server-xvfb
	checkdepends = wireplumber
	checkdepends = python-dbusmock
	checkdepends = zenity
	makedepends = gobject-introspection
	makedepends = git
	makedepends = egl-wayland
	makedepends = meson
	makedepends = xorg-server
	makedepends = wayland-protocols
	makedepends = sysprof
	makedepends = gi-docgen
	depends = dconf
	depends = gobject-introspection-runtime
	depends = gsettings-desktop-schemas
	depends = libcanberra
	depends = startup-notification
	depends = libsm
	depends = gnome-desktop
	depends = libxkbcommon-x11
	depends = gnome-settings-daemon
	depends = libgudev
	depends = libinput
	depends = pipewire
	depends = xorg-xwayland
	depends = graphene
	depends = libxkbfile
	depends = libsysprof-capture
	depends = lcms2
	depends = colord
	options = debug
	source = git+https://gitlab.gnome.org/GNOME/mutter.git#commit=bdf3470a8a89206a39dc45824a8080dc6a9666ca
	source = https://gitlab.gnome.org/GNOME/mutter/-/merge_requests/2623.patch
	source = https://gitlab.gnome.org/GNOME/mutter/-/merge_requests/2624.patch
	source = https://gitlab.gnome.org/GNOME/mutter/-/merge_requests/2652.patch
	source = https://gitlab.gnome.org/GNOME/mutter/-/merge_requests/1441.patch
	sha256sums = SKIP
	sha256sums = 346b79437bc0ff5db03306faaba7c7ae91920b7fd3dc47d4bd92197a1fbb59da
	sha256sums = 8d9a892c6f4bea6877b3f2af047498f175d524cc86ca38112e6b320a49b61002
	sha256sums = 57ef285755b4dc9d95c4f43f6130fd18baee6abcf540171a0892985e907aeb10
	sha256sums = f534708708ac8ce4adf021d50c70ab5f256f3d78df53194ccda9cecdee44e80b

pkgname = mutter
	groups = gnome
	provides = libmutter-11.so

pkgname = mutter-docs
	pkgdesc = A window manager for GNOME (documentation)
	depends = 
