pkgbase = mutter-nvidia-arch
	pkgdesc = A window manager for GNOME.
	pkgver = 40.0
	pkgrel = 1
	url = https://gitlab.gnome.org/GNOME/mutter
	arch = x86_64
	groups = gnome
	license = GPL
	makedepends = gobject-introspection
	makedepends = git
	makedepends = egl-wayland
	makedepends = meson
	makedepends = xorg-server
	makedepends = sysprof
	depends = dconf
	depends = gobject-introspection-runtime
	depends = gsettings-desktop-schemas
	depends = libcanberra
	depends = startup-notification
	depends = zenity
	depends = libsm
	depends = gnome-desktop
	depends = upower
	depends = libxkbcommon-x11
	depends = gnome-settings-daemon
	depends = libgudev
	depends = libinput
	depends = pipewire
	depends = xorg-xwayland
	depends = graphene
	depends = libxkbfile
	provides = libmutter-8.so
	provides = mutter
	conflicts = mutter
	source = git+https://gitlab.gnome.org/GNOME/mutter.git#commit=21a09fb7928c17519d67ffd8c1ae80071f92fdbf
	source = night-light.patch
	sha256sums = SKIP
	sha256sums = SKIP

pkgname = mutter-nvidia-arch

